.hr-sect {
  display: flex;
  justify-content: space-between;
  // flex-basis: 100%;
  align-items: center;
  color: #fff;
  font-size: 2.5em;
  font-weight: bolder;
  letter-spacing: 10px;

  &::before {
    background-color: #0069d1;
  }
  &::after {
    background-color: #dd071c;
  }
  &::before,
  &::after {
    content: "";
    // flex-grow: 1;
    width: 100px;
    // background: rgba(0, 0, 0, 0.35);
    height: 15px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px;
  }
  &::before {
    margin-right: 20px;
  }
  &::after {
    margin-left: 20px;
  }
  @media (max-width: 637px) {
    font-size: 1.5em;
  }
}
