.globalTitle {
  font-size: 3em;
  font-weight: bolder;
  @media (max-width: 475px) {
    font-size: 2em;
    font-weight: bold;
  }
}

.readyText {
  color: #fff;

  a {
    background-color: #e5ce00;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: all 1000ms;
  }
  a:hover {
    text-decoration: none;
  }
  @media (max-width: 992px) {
    a {
      display: block;
      width: 50%;
      margin: auto;
      margin-top: 20px;
    }
  }
  @media (max-width: 500px) {
    h2 {
      font-size: 20px;
    }
    a {
      display: block;
      width: 100%;
      margin: auto;
      font-size: 18px;
      margin-top: 20px;
    }
  }
}
