footer {
  text-align: center;
  background-color: #031928;
  padding: 60px;
  color: #fff;

  a {
    color: #fff;
    text-decoration: none;
  }
  .socials {
    display: flex;
    justify-content: center;
    div {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-left: 10px;
      margin-right: 10px;
      padding: 7px;
    }
  }

  p {
    font-size: 12px;
  }

  @media (max-width: 767px) {
    padding: 30px;
    .footerLogo {
      text-align: center;
      margin-top: 30px;
      order: 3;
    }
    .bmcn {
      display: none;
    }
    .follow {
      order: 1;
    }
  }
}
