footer {
  text-align: center;
  background-color: #031928;
  padding: 60px;
  color: #fff;

  a {
    color: #fff;
    text-decoration: none;
  }
  .socials {
    display: flex;
    justify-content: center;
    div {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-left: 10px;
      margin-right: 10px;
      padding: 7px;
      position: relative;
      overflow: hidden;

      &.linkedIn {
        background-color: #0077b5;
      }
      &.google {
        background-color: #c71610;
      }
      &.twitter {
        background-color: #0084b4;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -28px;
        width: 25px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        transform: skewX(-30deg);
        transition: 1000ms;
      }
      &:hover::before {
        left: 45px;
      }
    }
  }

  p {
    font-size: 12px;
  }

  .bmcn {
    a {
      margin-right: 10px;
    }
  }

  @media (max-width: 767px) {
    padding: 30px;
    .footerLogo {
      text-align: center;
      margin-top: 30px;
      order: 3;
    }
    .bmcn {
      display: none;
    }
    .follow {
      order: 1;
    }
  }
}
