footer {
  text-align: left;
  // background-color: #031928;
  background-color: #07273a;
  background-image: url(/static/images/footerbg.png);
  background-blend-mode: multiply;
  padding: 60px;
  color: rgb(255, 255, 255);
  ul {
    text-align-last: left;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      a {
        text-decoration: none !important;
        font-size: 12px;
        &:hover {
          color: yellow;
        }
      }
    }
  }
  a {
    color: rgb(185, 185, 185);
    text-decoration: none !important;
  }
  .socials {
    display: flex;
    margin-top: 20px;
    justify-content: flex-start !important;
    div {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-left: 10px;
      margin-right: 10px;
      padding: 7px;
      position: relative;
      overflow: hidden;
      flex-shrink: 0;
      text-align: center;
      &.linkedIn {
        background-color: #0077b5;
      }
      &.youtube {
        background-color: #c71610;
        padding: 10px 15px;
        font-weight: bolder;
      }
      &.twitter {
        background-color: #0084b4;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -28px;
        width: 25px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        transform: skewX(-30deg);
        transition: 1000ms;
      }
      &:hover::before {
        left: 45px;
      }
    }
  }

  p {
    font-size: 12px;
  }

  .bmcn {
    a {
      margin-right: 10px;
      img {
        max-width: 200px;
      }
    }
  }

  @media (max-width: 767px) {
    padding: 30px;
    .bmcn {
      display: none;
    }
    .follow {
      order: 1;
    }
  }
}

.footerLogo {
  // border-top: 1px solid #fff;
  background-color: #000309;
  p {
    font-size: 12px;
  }
  a {
    color: #fff;
    text-decoration: none !important;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.newsLetter {
  .newsLetterButton {
    font-size: 12px;
    background-color: transparent;
    border-color: #d9c402;
    &:hover {
      background-color: #d9c402;
      color: #000;
    }
  }
  .newsLetterInput {
    max-width: 300px;
    border-radius: 0;
    font-size: 12px;
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none !important;
    border-bottom: 1px solid #d9c402;
    &:focus {
      box-shadow: none;
    }
  }
}
